#quote-word{
  text-align:center;
  font-size:20px;
  font-family: cursive,fantasy;
}
#quote-author{
  text-align:center;
  font-size: 15px;
  font-family: fantasy;
}
.wrapperQuote{
  text-align:center;
}
.wrapperShare{
  text-align:right;
  width:95%;
}
#QuoteButton{
  background-color:#A0A0A0;
  font-family:cursive;
  font-size:25px;
  
}
#quotation{
  margin-left:auto;
  width: 70%;
  font-family: cursive;
  font-size: 75px;
}